
.DS_Store
._*
*~
.coverage
*.pyc
__pycache__
runtime
rt_sandbox
test-in/
test-out/

*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch

*.o
*.a
a.out

run_service/main.c
run_service/run_service

